DB = 'screeps'
DB_USERNAME = 'screeps'
DB_PASSWORD = 'screeps'
DB_HOST = 'localhost'
API_USERNAME = 'a-screep-account'
API_PASSWORD = 'said-account-password'
SECRET_KEY = '123456789'
OBJECT_STORAGE = '/path/to/a/folder'