.colorKeyList .colorBox {
    display: inline-block;
    border: 1px solid black;
    width: 3em;
    height: 1em;
    margin-right: 2px;
    vertical-align: middle;
}

.colorKeyList {
    list-style: none;
}

#ScreepsColorKeyContainer {
    float: right;
}

#ScreepsMapFlex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
