{% from "macros/multiple_maps.html" import multipleMaps with context %}
{% from "macros/alliance_user_rankings.html" import allianceUserRankings with context %}
{% extends "layout.html" %}
{% block title %} {{ alliance['fullname'] }} {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='datatables/datatables.css')}}">
<script type="text/javascript" language="javascript"
    src="{{url_for ('static', filename = 'datatables/datatables.js')}}"></script>

<link rel="stylesheet" href="{{url_for('static', filename='css/map.css')}}">
<link rel="stylesheet" href="{{url_for ('static', filename = 'css/vendor/leaflet.css')}}" />
<script src="{{url_for ('static', filename = 'js/vendor/leaflet.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for ('static', filename = 'js/headroom.min.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for ('static', filename = 'js/vendor/randomColor.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for ('static', filename = 'js/SliderControl.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for ('static', filename = 'js/ScreepsMap.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for ('static', filename = 'js/ScreepsRegion.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for ('static', filename = 'js/ScreepsConstants.js')}}"></script>
<script type="text/javascript" language="javascript">

</script>
{{ super() }}
{% endblock %}

{% block script %}
{{ super() }}
$('.datatable').DataTable({
"paging": false,
"searching": false,
"order": [[ 0, "asc" ]]
});
{% endblock %}

{% block content %}

<div class="row">
    <ul class="tabs" data-tabs id="tabs">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Locations</a></li>
        <li class="tabs-title"><a href="#panel2">User ranking</a></li>
        <li class="tabs-title"><a href="#panel3">Charter</a></li>
        {% if alliance['discord_channel'] %}
        <li class="tabs-title" onclick="location.href='{{ alliance['discord_url'] }}'">
            <a href="{{ alliance['discord_url'] }}" title="#{{ alliance['discord_url'] }}" target="_blank">Discord</a>
        </li>
        {% endif %}
    </ul>
    <div class="tabs-content" data-tabs-content="tabs">
        <div class="tabs-panel is-active" id="panel1">
            {{ multipleMaps() }}
        </div>
        <div class="tabs-panel" id="panel2">
            {{ allianceUserRankings(shortname=shortname) }}
        </div>
        <div class="tabs-panel" id="panel3">
            {{charter | safe}}
        </div>
    </div>
</div>

{% endblock %}
