{% extends "layout.html" %}
{% block content %}
{% for alliance in alliances %}
    <div>
        <div> {{alliance['fullname']}} ({{alliance['shortname']}})</div>
        <div> Slack channel:
            <a target="_blank" href="https://screeps.slack.com/messages/{{alliance['slack_channel']}}">
            {{alliance['slack_channel']}}
            </a>
        </div>
        <ul>
            {% for user in alliance['users'] %}
                <li>
                    <a href="https://screeps.com/a/#!/profile/{{user['name']}}">
                        {{user['name']}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <br>
{% endfor %}
{% endblock %}
