{% from "macros/map.html" import map with context %}
{% extends "layout.html" %}
{% block head %}

    <link rel="stylesheet" href="{{url_for('static', filename='css/map.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script type="text/javascript" language="javascript" src="{{url_for ('static', filename = 'js/headroom.min.js')}}"></script>
    <script type="text/javascript" language="javascript" src="{{url_for ('static', filename = 'js/ScreepsMap.js')}}"></script>
    <script type="text/javascript" language="javascript" src="{{url_for ('static', filename = 'js/ScreepsRegion.js')}}"></script>
    <script type="text/javascript" language="javascript" src="{{url_for ('static', filename = 'js/ScreepsConstants.js')}}"></script>
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="row">
        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Location</a></li>
            <li class="tabs-title"><a href="#panel2">Charter</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">

            <div class="tabs-panel is-active" id="panel1">
              {{ map(shortname=shortname) }}
            </div>
            <div class="tabs-panel" id="panel2">
                {{charter | safe}}
            </div>
        </div>
    </div>
{% endblock %}
