{% extends "layout.html" %}
{% block head %}

    <link rel="stylesheet" href="{{url_for('static', filename='css/map.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script type="text/javascript" language="javascript" src="{{url_for ('static', filename = 'js/headroom.min.js')}}"></script>
    <script type="text/javascript" language="javascript" src="{{url_for ('static', filename = 'js/ScreepsMap.js')}}"></script>
    <script type="text/javascript" language="javascript" src="{{url_for ('static', filename = 'js/ScreepsRegion.js')}}"></script>
    <script type="text/javascript" language="javascript" src="{{url_for ('static', filename = 'js/ScreepsConstants.js')}}"></script>
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="row">
        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Location</a></li>
            <li class="tabs-title"><a href="#panel2">Charter</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">

            <div class="tabs-panel is-active" id="panel1">
                <div class="unit whole">
                  <div id="ScreepsMapFlex">
                      <div id="ScreepsMapContainer"></div>
                      <div id="ScreepsColorKeyContainer"></div>
                  </div>
                  <div id="ScreepsMapTooltip" style="display: none;">
                      <dl>
                          <dt>Room:</dt>
                          <div class="roomName"></div>
                          <dt>Type:</dt>
                          <div class="roomType"></div>
                          <dt>RCL:</dt>
                          <div class="roomLevel"></div>
                          <dt>Owner:</dt>
                          <div class="roomOwner"></div>
                          <dt>Alliance:</dt>
                          <div class="roomAlliance"></div>
                      </dl>
                  </div>
                  <script type="text/javascript" language="javascript">
                   window.onload = function() {
                      alliance_data = {}
                      room_data = {}
                      $.when(
                      	$.getJSON('/rooms.js', {}, function(data){
                      		room_data = data
                      	})
                      ).then(function() {
                      	let region = new ScreepsRegion("W70N70", "E70S70");
                      	let mapView = new ScreepsMap(
                      		{
                      			spinnerHostId: "ScreepsMapFlex",
                      			mapHostId: "ScreepsMapContainer",
                      			legendHostId: "ScreepsColorKeyContainer",
                      			roomTooltipHostId: "ScreepsMapTooltip",
                      			terrainUri: "/static/img/screeps_terrain.png",
                      			legendUrlPrefix: 'https://screeps.com/a/#!/profile/',
                      			region: region,
                      			style: { 'room-padding': 10 }
                      		});
                      		mapView.setData(
                      			room_data,
                      			{{ alliance_data | safe }}
                      		);
                      		mapView.render();
                      });
                    }
                  </script>
                </div>
            </div>
            <div class="tabs-panel" id="panel2">
                {{charter | safe}}
            </div>
        </div>
    </div>
{% endblock %}
