<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
          <div class="row column">
            <br>
            <img class="thumbnail" src="{{url_for('static', filename='img/leaguelogo.png')}}">
            <h5>Foo Bar</h5>
            <p>Lorem ipsum dolor sit amet, tristique commodo justo convallis ipsum nam lacinia. Ultrices tempora interdum cumque maecenas nulla, sit sem diam etiam nunc, eget pellentesque turpis velit tempus porta, non nibh fusce placerat. Wisi morbi. Eleifend turpis dolor mollis, magna eu amet malesuada sapien </p>
          </div>
        </div>
        <div id="main" class="off-canvas-content" data-off-canvas-content>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        </div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>


    
