<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {% block title %} {% endblock %} | League of Automated Nations</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/foundation.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/vendor/font-awesome.min.css')}}">

    <link rel="icon" type="image/png" href="{{url_for('static', filename='img/favicon.png')}}">

    <meta name="twitter:title" content="{{ self.title() }} | League of Automated Nations" />
    <meta name="keywords" content="screeps, mmo, programming" />
    <meta property="og:site_name" content="League of Automated Nations" />
    <meta property="og:type" content="website" />
    <meta name="description" content="Alliance tracking for Screeps, the game that plays itself.">
    <meta property="og:description" content="Alliance tracking for Screeps, the game that plays itself." />
    <meta name="twitter:description" content="Alliance tracking for Screeps, the game that plays itself." />
    <meta property="og:image" content="http://www.leagueofautomatednations.com/img/leaguelogo.png" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="http://www.leagueofautomatednations.com/img/leaguelogo.png" />
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas position-left reveal-for-large " id="my-info" data-off-canvas data-position="left">
          <div class="row column">
            <br>
            <div id="menulogo" class="small-centered columns">
                <a href="{{url_for('index')}}">
                    <img class="small-centered" src="{{url_for('static', filename='img/leaguelogo.png')}}">
                </a>
            </div>
            <br>
            <h5 class="navbar-sitename">League of Automated Nations</h5>
            <hr>
            <ul class="off-canvas-list navbar">

              {% if not session.username %}
                  <li>
                      <i class="fa-sign-in fa"></i>
                      <a href="{{url_for('login')}}"> Log In </a>
                  </li>
              {% else %}
                <li>
                    <i class="fa-star-o fa"></i>
                    <a href="{{url_for('my_alliance')}}"> My Alliance </a>
                </li>
              {% endif %}

                <li>
                    <i class="fa fa-list-ul"></i>
                    <a href="{{url_for('alliance_listing')}}"> Alliance Index </a></li>
                <li>
                    <i class="fa fa-globe"></i>
                    <a href="{{url_for('map')}}">Alliance Map </a></li>
                <li>
                    <i class="fa fa-map-marker"></i>
                    <a href="{{url_for('map_users')}}">Player Map </a></li>
                <li>
                    <i class="fa fa-slack"></i>
                    <a href="https://screeps.slack.com/messages/loan/details/" target="_blank">Slack </a></li>
                <li>
                    <i class="fa fa-terminal"></i>
                    <a href="https://www.screeps.com" target="_blank">Screeps </a></li>
                <li>
                    <i class="fa fa-github-alt"></i>
                    <a href="https://github.com/LeagueOfAutomatedNations" target="_blank">Github </a></li>

                {% if session.username %}
                  <li>
                      <i class="fa-sign-out fa"></i>
                      <a href="{{url_for('logout')}}"> Log Out </a>
                  </li>
                {% endif %}

            </ul>
          </div>
        </div>
        <div id="main" class="off-canvas-content" data-off-canvas-content>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        </div>
      </div>
    </div>

    <script src="{{url_for('static', filename='js/vendor/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor/foundation.min.js')}}"></script>
    {% block js_include %}
    {% endblock %}
    <script>
      $(document).foundation();
    </script>
    {% block script %}
    {% endblock %}
    {% if config.GA is defined %}
      <!-- Google Analytics -->
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ config.GA }}', 'auto');
      ga('send', 'pageview');
      </script>
      <!-- End Google Analytics -->
    {% endif %}
  </body>
</html>



