<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/foundation.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
    <script src="https://use.fontawesome.com/b48ca1ccb9.js"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas position-left reveal-for-large " id="my-info" data-off-canvas data-position="left">
          <div class="row column">
            <br>
            <img class="thumbnail" src="{{url_for('static', filename='img/leaguelogo.png')}}">
            <h5 class="navbar-sitename">League of Automated Nations</h5>
            <hr>
            <ul class="off-canvas-list navbar">

                <li>
                    <i class="fa fa-home"></i>
                    <a href="{{url_for('alliance_listing')}}"> Alliance Index </a></li>
                <li>
                    <i class="fa fa-map-marker"></i>
                    <a href="{{url_for('map')}}">Alliance Map </a></li>
                <li>
                    <i class="fa fa-terminal"></i>
                    <a href="https://www.screeps.com" target="_blank">Screeps </a></li>
                <li>
                    <i class="fa fa-slack"></i>
                    <a href="https://screeps.slack.com/messages/loan/details/" target="_blank">Slack </a></li>
            </ul>
          </div>
        </div>
        <div id="main" class="off-canvas-content" data-off-canvas-content>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        </div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>


    
