{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}
{% block content %}
<div class="row">

    <div class="small-11 columns">
        <ul class="tabs" data-tabs id="example-tabs">
            <div style="float:left; width:52px; height:52px">
            {% if alliance['logo'] %}
            <img class=""
                 src="{{url_for('get_obj', filename = alliance['logo']) }}">
            {% else %}
            <img class=""
                 src="{{url_for('static', filename = 'img/leaguelogo.png') }}">
            {% endif %}
            </div>
            <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Management</a></li>
            <li class="tabs-title"><a href="#panel2" onclick="activateCharterBox()">Charter</a></li>
        </ul>
        <div class="tabs-content" data-tabs-content="example-tabs">
            <div class="tabs-panel is-active" id="panel1">
                <form action="/invite" method="post">
                    <p> Invite a user to your alliance. NAME IS CASE SENSITIVE</p>
                    <p><input type=text name=username></p>
                    <p><input type=submit value=Submit></p>
                </form>
                <hr>
                Upload your logo (around 190x190)
                <form enctype="multipart/form-data"
                      action="{{url_for('upload_my_alliance_logo')}}" method="POST">
                    <input type=file name="logo">
                    <input type=submit value=Submit>
                </form>
            </div>
            <div class="tabs-panel" id="panel2">
                <form id="charter-form" action="/my/updatecharter" method="POST">
                    <textarea id="charter" name="charter">{{alliance['charter']}}</textarea>
                    <input type=submit value="Submit">
                </form>
            </div>
        </div>

    </div>
</div>
<script>
 var simplemde = new SimpleMDE({ element: document.getElementById("charter"),
                                 autofocus:true});
 function activateCharterBox() {
     setTimeout(function() {
         simplemde.codemirror.refresh();
     }.bind(simplemde), 0);

 };
</script>

{% endblock %}
