{% extends "layout.html" %}
{% block title %}Tools{% endblock %} 
{% block content %}

<div>

  <div class="callout primary">
      <div class="row column">
          <h1 class='text-center'>Tools</h1>
          <p  class="lead"></p>
      </div>
  </div>

  <div class='row columns'>

    <dl>
      <dt><a href="https://github.com/LeagueOfAutomatedNations/loan-browser-ext">Browser Extension</a></dt>
      <dd>This plugin adds alliance data to the Screeps website using either Tampermonkey or Greasemonkey.</dd>
    </dl>

    <dl>
      <dt><a href="https://github.com/screepers/snippets-client-abuse/blob/master/snippets/LoAN_tampermonkey_inject_for_any_client.js">Steam Client Extension</a></dt>
      <dd>This plugin adds alliance data to the Screeps Steam Client by using the game console to inject the code into the client.</dd>
    </dl>

    <dl>
      <dt>Public Segments</dt>
      <dd>The in game user "LeagueOfAutomatedNations" has a copy of the alliance list as its <a href="http://support.screeps.com/hc/en-us/community/posts/115002054445-Public-memory-segments">public segment.</a></dd>
    </dl>

  </div>
</div>



{% endblock %}
