
{% macro map(alliance_url='/alliances.js', shortname=none) -%}

  <div class="unit whole">
      <div id="ScreepsMapFlex">
          <div id="ScreepsMapContainer"></div>
          <div id="ScreepsColorKeyContainer"></div>
      </div>
      <div id="ScreepsMapTooltip" style="display: none;">
          <dl>
              <dt>Room:</dt>
              <div class="roomName"></div>
              <dt>Type:</dt>
              <div class="roomType"></div>
              <dt>RCL:</dt>
              <div class="roomLevel"></div>
              <dt>Owner:</dt>
              <div class="roomOwner"></div>
              <dt>Alliance:</dt>
              <div class="roomAlliance"></div>
          </dl>
      </div>

    <script type="text/javascript" language="javascript">

      window.onload = function() {
  			alliance_data = {}
  			room_data = {}
  			$.when(
  				$.getJSON('{{ alliance_url }}', {}, function(data){
  					console.log('alliance data loaded')
  					alliance_data = data
  				}),
  				$.getJSON('/map/rooms.js', {}, function(data){
  					console.log('room data loaded')
  					room_data = data
  				})
  			).then(function() {
  				let region = new ScreepsRegion("W70N70", "E70S70");
  				let mapView = new ScreepsMap(
  					{
  						spinnerHostId: "ScreepsMapFlex",
  						mapHostId: "ScreepsMapContainer",
  						legendHostId: "ScreepsColorKeyContainer",
  						roomTooltipHostId: "ScreepsMapTooltip",
  						terrainUri: "/static/img/screeps_terrain.png",
  						legendUrlPrefix: '/a/',
  						region: region,
  						style: { 'room-padding': 10 }
  					});
  					mapView.setData(
  						room_data,
  						alliance_data
  					);
            {% if shortname %}
            mapView.setAlliance('{{ shortname }}');
            mapView.setGroupType('user')
            {% endif %}
  					mapView.render();
  			});
      }
    </script>
  </div>


{%- endmacro %}
